/**
* @name main.scss
* @author IDea Factory
* @version 1.0.0
**/

@import "./theme.scss";
body {
    font-family: roboto, sans-serif;
    color: $default_font_color;
}

header {
    &.row {
        h1 {
            line-height: 9em;
            vertical-align: middle;
            padding-left: 3em;
            font-size: 1.375em;
            font-weight: bold;
        }
        .logo {
            margin: 0 auto;
            padding-top: 1em;
        }
    }
}

article {
    header {
        h2 {
            font-size: 2em;
            font-weight: bold;
            padding-top: 3em;
            padding-bottom: 1em;
        }
    }

    &#le-bureau-destel {
        padding: 3em;
        text-align: center;
        background-color: $primary_color;
        color: $color_of_primary;

        ul {
            list-style-type: none;
        }
    }
    &#les-services {
        padding: 3em;
        text-align: center;
        background-color: $secondary_color;
        color: $color_of_secondary;
        header {
            h3 {
                font-size: 2em;
                font-weight: bold;
                padding-top: 3em;
            }

        }
        ul {
            list-style-type: none;
            padding: 0;
        }
        .rounded-badge {
            @media screen and (min-width: 481px) {
                display: none;
            }
            display: block;
            border-radius: 20em;
            border-color: $color_of_primary;
            color: $color_of_primary;
            height: 5em;
            width: 5em;
            line-height: 1.8em;
            vertical-align: middle;
            margin: 0 auto;
            font-weight: bold;
            &.ga, &.gp {
                background-color: $primary_color;
            }
            &.gc, &.ge {
                background-color: darken($secondary_color, 30%);
            }
        }
    }
    &#tarifs {
        padding: 3em;
        text-align: center;
        background-color: $color_of_primary;
        color: $color_of_tertiary;
        header {
            h2 {
                font-size: 2em;
                font-weight: bold;
                padding: 3em;
                color: $primary_color;
            }
        }
        div {
            &.bloc-tarif {
                
                background-color: $color_of_primary;

                div {
                    &.inner {
                        padding: 2em;
                        background-color: $primary_color;
                        color: $color_of_primary;
                        font-size: 1.3em;
                        font-weight: bold;
                        min-height: 10em;
                        height: auto;
                        p {
                            span {
                                font-size: .7em;
                            }
                        }
                    }
                }
            }
        }       
    }
    &#horaires {
        //padding: 3em;
        text-align: center;
        background-color: $color_of_primary;
        color: $color_of_tertiary;
        header {
            h2 {
                font-size: 2em;
                font-weight: bold;
                padding: 3em;
                color: $primary_color;
            }
        }        
    }
    &#contact {
        padding: 3em;
        text-align: center;
        background-color: $secondary_color;
        color: $color_of_secondary;
        margin-bottom: 1em;
        a {
            color: $color_of_secondary;
            text-decoration: none;
        }       
    }
}

.parallax {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9;
    p {
        font-size: 1.5em;
        position: relative;
        bottom: 0;
        height: 5em;
        line-height: 5em;
        vertical-align: middle;
        width: inherit;
        text-align: center;
        background-color: rgba($secondary_color, .5);
        z-index: 10;
        color: $color_of_secondary;
    }
}

// Form error handling
form {
    div {
        &.hidden {
            display: none;
        }
        &.error {
            color: $danger_color;
            font-size: .8em;
            padding-bottom: .5em;
        }
    }
}

// Sticky top menu
nav {
    &.sticky {
        position: fixed;
        z-index: 10;
        width: 100%;
        @media screen and (max-width: 480px) {
            top: 0;
        }
        @media screen and (min-width: 481px) {
            top: 0;
        }
    }
}
// Footer
footer {
    &.sticky {
        background-color: darken($secondary_color, 30%);
        color: $default_font_color;


        ul {
            padding-top: 1em;
            li {
                cursor: pointer;
                a {
                    color: $default_font_color;
                    font-size: 2em;
                    text-decoration: none;
                    
                }
            }
        }

        @media screen and (max-width: 480px) {
            position: fixed;
            bottom: 0;
            width: 100%;

        }
    }
}