@import "./../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


$default_font_color: #181818;
$primary_color: rgba(119,
190,
198,
1);
$secondary_color: rgba(231,
231,
231,
1);
$color_of_primary: rgba(255,
255,
255,
1);
$color_of_secondary: $default_font_color;
$tertiary_color: rgba(255, 255, 255, 1);
$color_of_tertiary: $default_font_color;

$danger_color: rgba(210, 80, 77, 1);